{
    "azureOpenAIEndpoint": "",
    "azureOpenAIEndpointKey": "",
	"deploymentNamegpt4": "",
	"deploymentNamegpt432k": "",
	"deploymentNamegpt4turbo": "",
	"deploymentNameEmbedding": "",
	"samplePDF": "..\\..\\..\\..\\Greenville,_South_Carolina.pdf",
	"azureLanguageServicesEndpoint": "",
	"azureLanguageServicesKey": "",
	"annualReportPDF": "..\\..\\..\\..\\ge_ar2022_annualreport.pdf",
	"sqliteDB": "..\\..\\..\\..\\embeddingDB.sqlite",
	"documentCollectionName": "test-collection",
	"azureDocumentIntelligenceEndpoint": "",
	"azureDocumentIntelligenceKey": "",
	"handwrittenFormImage": "..\\..\\..\\..\\NEW_PATIENT_INFO_FORM.png"
}
