{
    "azureOpenAIEndpoint": "",
    "azureOpenAIEndpointKey": "",
	"deploymentNamegpt4": "",
	"deploymentNamegpt432k": "",
	"deploymentNamegpt4turbo": "",
	"deploymentNameEmbedding": "",
	"samplePDF": "",
	"azureLanguageServicesEndpoint": "",
	"azureLanguageServicesKey": "",
	"annualReportPDF": "",
	"sqliteDB": "",
	"documentCollectionName": "",
	"azureDocumentIntelligenceEndpoint": "",
	"azureDocumentIntelligenceKey": "",
	"handwrittenFormImage": ""
}
